

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html {
    font-size: 62,5%;
}
header {
    background-color:lightseagreen
    text-align: center;
    position: absolute;
    width: 1442px;
    height: 90px;
    left: 0px;
    
}

header .navBar {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: right;
}

header .navBar .navBarNav {
    display: inline-block;
}

header .navBar .navBarNav .navBarItem {
    display: inline-block;
}
header .navBar .navBarNav .navBarItem .navBarLink {
    text-decoration: none;
    margin-left: 20px;
}
h1 {
    color: aliceblue;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

contenedor {
    display: flex;
    margin: 20 em;
    margin-top: 20 em;
    padding: 30 px
}
foto {
    display: flex;
    padding: 20 rem 0;
    border-width: 25px;
    margin: 20px;
    margin-top: 30px;
}
footer {
    background-color: #f08080;
    margin:0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
}